/* ====================
Variables
==================== */
:root {
  --size-img-github: 2.2rem;
}

/* ====================
Estilos del sitio
==================== */
main {
  /* border: thin solid red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor {
  /* border: thin solid black; */
  width: 40rem;
  height: 18rem;
  text-align: center;
}

.contenedor > input {
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin-top: 2rem;
}

.encabezado {
  /* border: thin solid yellowgreen; */
  line-height: 5px;
}

.encabezado > a img {
  width: var(--size-img-github);
  height: var(--size-img-github);
}

.informacion {
  /* border: thin solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.informacion > div {
  /* border: thin solid green; */
  line-height: 10px;
}

.tabla {
  width: 15rem;
  height: 15rem;
  text-align: center;
}

.tabla td {
  border: 6px solid black;
  width: 2rem;
  height: 2rem;
}

.columna-uno > td:first-child {
  border-left: 1px;
  border-top: 1px;
}

.columna-uno > td:nth-child(2) {
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.columna-uno > td:last-child {
  border-right: 0;
  border-top: 0;
}

.columna-dos > td:first-child {
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
}

.columna-dos > td:nth-child(2) {
  border: 0;
}

.columna-dos > td:last-child {
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
}

.columna-tres > td:first-child {
  border-left: 0;
  border-bottom: 0;
}

.columna-tres > td:nth-child(2) {
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.columna-tres > td:last-child {
  border-right: 0;
  border-bottom: 0;
}
